    <!-- Start welcome card -->
    <div class="card u-center-alt bg-red-700" style="max-width: 700px">
      <div class="card__container row bg-black">
        <div class="card__image u-center">
          <img src="../assets/images/logo-tag-no-bg.png" width="350px" />
        </div>
      </div>
      <div class="content bg-red-700">
        <h6 class="u-text-center text-warning">WARNING!</h6>
        <p class="u-text-center text-warning">
          YOU CAN NOT ENTER UNLESS YOUR HEAT TOLERANCE IS AT LEAST 500K
          SCOVILLES
        </p>
      </div>
      <div class="u-center card__action-bar">
        <button class="btn-link outline bg-black text-warning">Accept</button>
      </div>
    </div>
  </body>
</html>    <!-- Start welcome card -->
    <div class="card u-center-alt bg-red-700" style="max-width: 700px">
      <div class="card__container row bg-black">
        <div class="card__image u-center">
          <img src="../assets/images/logo-tag-no-bg.png" width="350px" />
        </div>
      </div>
      <div class="content bg-red-700">
        <h6 class="u-text-center text-warning">WARNING!</h6>
        <p class="u-text-center text-warning">
          YOU CAN NOT ENTER UNLESS YOUR HEAT TOLERANCE IS AT LEAST 500K
          SCOVILLES
        </p>
      </div>
      <div class="u-center card__action-bar">
        <button class="btn-link outline bg-black text-warning">Accept</button>
      </div>
    </div>
  </body>
</html>