{{!-- <header>
    <div class="header header-fixed u-unselectable header-animated bg-warning">
        <div class="header-brand">
            <div class="nav-item no-hover">
                <a href="/dashboard">
                    <img src="../assets/images/logo-icon-name.png" />
                    <h6 class="title text-red-700">Hot Shots</h6>
                </a> --}}
                {{!-- log out button & add sauce button --}}
                {{!-- log out button & add sauce button --}}
                Handlebars.registerPartial('nav-bar-buttons');
                <a href="/login"><button class="text-red-700" id="logout"
                        style="padding: 0; border: none; background: none;">Log Out</button></a>
                <a href="/addsauce"><button class="text-red-700" id="addsauce"
                    style="padding: 0; border: none; background: none;">Add Sauce</button>
                </a>
                {{!-- end log out button --}}
                {{!-- add addsauce button --}}
                <a href="/dashboard"><button class="text-red-700" id="addsauce"
                    style="padding: 0; border: none; background: none;">Dashboard</button>
                </a>
                {{!-- end of button --}}
                {{!-- end of button --}}
                {{!--
            </div>
            <div class="nav-item">
                <a href="#">
                    <span class="icon">
                        <i class="fab fa-wrapper fa-github"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="header-nav" style="background-color: #fab633" id="header-menu">
            <!-- Other nav categories, controls, nav-items, etc. This is hidden on touch enabled devices -->
        </div>
    </div>
</header> --}}