<!-- add sauce form start -->
<html>

<body>
  {{> nav-bar-buttons}}
  <img class="pepper-image"
    src="https://res.cloudinary.com/dwjycofwm/image/upload/c_scale,h_525/v1666744995/test/killerredbg_esvfhv.png">
  <style>
    .pepper-image {
      height: 85%;
      padding-top: 3%;
    }
  </style>
  <form class="card u-center-alt u-absolute bg-red-700 text-warning u-overflow-auto addsauce-form"
    style="width: 800px; height: 450px">
    <div class="card__header u-center bg-red-700 text-warning">
      <p class="font-bold px-3">Add a new sauce!</p>
    </div>
    <div class="content bg-red-700 text-warning">
      <div class="form-group p-2 bg-red-700 text-warning u-center">
        {{!-- name --}}
        <p class="u-text-ellipsis">What is the name of the sauce?</p>
        <input type="sauce-name" class="form-group-input" placeholder="Sauce Name" name="add-new-sauce"
          id="sauce_name" />
      </div>
    </div>
    <div class="content bg-red-700 text-warning">
      <div class="form-group p-2 bg-red-700 text-warning u-center">
        {{!-- description --}}
        <p class="u-text-ellipsis">Please describe the sauce.</p>
        <textarea type="description" class="form-group-input" placeholder="Description" name="new-sauce-description"
          id="new-sauce-description"></textarea>
      </div>
    </div>
    <div class="content bg-red-700 text-warning">
      <div class="form-group p-2 bg-red-700 text-warning u-center">
        {{!-- location --}}
        <p class="u-text-ellipsis">Where did you find it?</p>
        <input type="search" class="form-group-input" placeholder="Location" name="location" id="location" />
      </div>
    </div>
    <div class="content bg-red-700 text-warning">
      <div class="form-group p-2 bg-red-700 text-warning u-center">
        {{!-- heat level --}}
        <label class="u-text-ellipsis">
          What is the approx heat level of the sauce?
        </label>
        <select class="select bg-white text-red-700" placeholder="Choose one" id="heat-level">
          <option>Mild</option>
          <option>Medium</option>
          <option>Hot</option>
          <option>Extreme</option>
          <option>Killer</option>
        </select>
      </div>
    </div>
    <div class="u-center bg-red-700 text-warning p-4">
      <button type="submit" class="btn-link outline bg-black text-warning">Submit</button>
    </div>
  </form>
  <script src="../public/javascript/addsauce.js" type="text/javascript"></script>
  {{!--
  <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script> --}}
  <script type="text/javascript">

    var myWidget = cloudinary.createUploadWidget({
      cloudName: 'dwjycofwm',
      upload_preset: 'hs_test',
    }, (error, result) => {
      if (result.event == "success") {
        console.log(result.info) // result.info contains data from upload
      }
    })

    document.getElementById("upload_widget").addEventListener("click", function () {
      myWidget.open();
    }, false);
  </script>
</body>

</html>