<!-- add sauce form start -->
  <img class="px-3 py-12"src="https://res.cloudinary.com/dwjycofwm/image/upload/c_scale,h_450/v1666744995/test/killerredbg_esvfhv.png">
    <div
      class="card u-center-alt u-absolute bg-red-700 text-warning u-overflow-auto"
      style="width: 800px; height: 450px"
    >
      <div class="card__header u-center bg-red-700 text-warning">
        <p class="font-bold px-3">Add a new sauce!</p>
      </div>
      <div class="content bg-red-700 text-warning">
        <div class="form-group p-2 bg-red-700 text-warning u-center">
          <p class="u-text-ellipsis">What is the name of the sauce?</p>
          <input
            type="sauce-name"
            class="form-group-input"
            placeholder="Sauce Name"
          />
        </div>
      </div>
      <div class="content bg-red-700 text-warning">
        <div class="form-group p-2 bg-red-700 text-warning u-center">
          <p class="u-text-ellipsis">Please describe the sauce.</p>
          <textarea
            type="description"
            class="form-group-input"
            placeholder="Description"
          ></textarea>
        </div>
      </div>
      <div class="content bg-red-700 text-warning">
        <div class="form-group p-2 bg-red-700 text-warning u-center">
          <p class="u-text-ellipsis">Where did you find it?</p>
          <input
            type="string"
            class="form-group-input"
            placeholder="Username"
          />
        </div>
      </div>
      <div class="content bg-red-700 text-warning">
        <div class="form-group p-2 bg-red-700 text-warning u-center">
          <label class="u-text-ellipsis">
            What is the approx heat level of the sauce?
          </label>
          <select class="select bg-white text-red-700" placeholder="Choose one">
            <option>Mild</option>
            <option>Medium</option>
            <option>Hot</option>
            <option>Extreme</option>
            <option>Killer</option>
          </select>
        </div>
      </div>
      <div class="u-center bg-red-700 text-warning p-4">
        <button class="btn-link outline bg-black text-warning">Submit</button>
      </div>
    </div>
  </body>
</html>