<!-- hero section -->
<html>
    <body>
    <div class="hero fullscreen u-relative px-2">
        <div class="hero-body">

            <!-- card section 1 -->
            <div class="u-absolute u-right-0">
                <div class="card content bg-red-700" style="width: 350px;">
                     <h5 class="title u-text-center">Hot Shots Recommend</h5>
                    <div class="content row bg-red-700">
                        <content>
                            <div class="u-flex">
                                <img src="https://res.cloudinary.com/dwjycofwm/image/upload/c_scale,w_150/v1666886493/jsiv8hmtn0dlvdifyzce.png">
                                <p class="flex u-text-center"><strong>Hot Shots Hot Sauce</strong> Reviewers say, "if you put this on shoe leather and it would make it taste like filet mignon!"</p>
                            </div>
                            <div class="u-flex">
                                <img src="https://res.cloudinary.com/dwjycofwm/image/upload/c_scale,e_bgremoval,w_150/v1667058598/CatInHeat_Lead-1_960x_hodmis.webp">
                                <div>
                                <p class="u-text-center"><strong>Fat Cat: Cat in Heat</strong></p>
                                <p class="u-text-center">The only thing to dislike with this sauce is it goes fast when you let your friends know you have it. "</p>
                            </div>
                            </div>
                        </content>
                    </div>
                </div>
            </div>
            <!-- Row section won't flex-->
            <section>
                <div class="u-absolute u-center-alt">
                    <div class="card content bg-red-700" style="width: 675px; height: 150px;">
                        
                        <div class="card__container row bg-red-700">
                            <div class="u-text-center">
                                <h5 class="title">Hot Shots Recommend</h5>
                            </div>
                        </div>
                        <div class="content row bg-white">
                            <p>Text and other content belong here, inside a <code>content</code> div.</p>
                        </div>
                    </div>
                    <div class="card content bg-red-700" style="width: 675px; height: 150px;">
                        
                        <div class="card__container row bg-red-700">
                            <div class="u-text-center">
                                <h5 class="title">Hot Shots Recommend</h5>
                            </div>
                        </div>
                        <div class="content row bg-white">
                            <p>Text and other content belong here, inside a <code>content</code> div.</p>
                        </div>
                    </div>
                    <div class="card content bg-red-700" style="width: 675px; height: 150px;">
                        
                        <div class="card__container row bg-red-700">
                            <div class="u-text-center">
                                <h5 class="title">Hot Shots Recommend</h5>
                            </div>
                        </div>
                        <div class="content row bg-white">
                            <p>Text and other content belong here, inside a <code>content</code> div.</p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="hero-body">

                <!-- card section 1 -->
                <div class="u-absolute u-left-0">
                    <div class="card content bg-red-700 u-overflow-auto" style="max-width: 350px; height: 500px;">
                        <div class="card__container row bg-red-700">
                            <div class="u-text-center">
                                <h5 class="title">This Week's Featured Post</h5>
                                <content>
                                    <div>
                                        <img class="u-center"src="https://res.cloudinary.com/dwjycofwm/image/upload/c_scale,h_200/v1667091313/8f7e3305-75cb-4c0d-a0cf-441742135f17-1-201-a_orig-removebg-preview_z1vutw.png">
                                    </div>
                                    <div>
                                        <p class="u-text-center"><strong>Hot Sauce Name:</strong> Little Dick's Big Flavor</p>
                                         <p class="u-text-center"><strong>Submitted by Hot Shot:</strong> Pika336</p>
                                          <p class="u-text-center"><strong>Location:</strong> NYC</p>
                                          <p class="u-text-center"><strong>Spice Level:</strong> Hot</p>
                                           <p class="u-text-center"><strong>Description:</strong> I have been searching for the perfect sauce to "get there" with, and I think I've found it. If you're like me, you want a hot sauce that compliments the flavor of the food while providing a somewhat masochistic experience of spice that ultimately culminates in a dopamine endorphins avalanche. If you're a hot-sauce junky and are looking for a sauce that can turn up to 11 and still sound good, this is the sauce for you.</p>
                                    </div>
                                </content>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End card section 2 -->
        </div>
    </div>
    <!-- End hero section -->
</body>
</html>