<!-- hero section -->
<html>
    <body>
    <div class="hero fullscreen u-relative px-2">
        <div class="hero-body">

            <!-- card section 1 -->
            <div class="u-absolute u-right-0">
                <div class="card content bg-red-700" style="max-width: 350px;">
                    
                    <div class="card__container row bg-red-700">
                        <!-- <div class="card__image"></div> -->
                        <div class="u-text-center">
                            <h5 class="title">Hot Shots Recommend</h5>
                        </div>
                    </div>
                    <div class="content row bg-red-700">
                        <content>
                            
                        </content>
                    </div>
                
                    <!-- <div class="card__footer">
                        <div class="u-text-center"><span>This is additional footer text in <code>card__footer</code>.</span></div>
                        </div> -->
                </div>
            </div>
            <!-- Row section won't flex-->
            <section>
                <div class="u-absolute u-center-alt">
                    <div class="card content bg-red-700" style="width: 675px; height: 150px;">
                        
                        <div class="card__container row bg-red-700">
                            <!-- <div class="card__image"></div> -->
                            <div class="u-text-center">
                                <h5 class="title">Hot Shots Recommend</h5>
                            </div>
                        </div>
                        <div class="content row bg-white">
                            <p>Text and other content belong here, inside a <code>content</code> div.</p>
                        </div>
                    </div>
                    <div class="card content bg-red-700" style="width: 675px; height: 150px;">
                        
                        <div class="card__container row bg-red-700">
                            <!-- <div class="card__image"></div> -->
                            <div class="u-text-center">
                                <h5 class="title">Hot Shots Recommend</h5>
                            </div>
                        </div>
                        <div class="content row bg-white">
                            <p>Text and other content belong here, inside a <code>content</code> div.</p>
                        </div>
                    </div>
                    <div class="card content bg-red-700" style="width: 675px; height: 150px;">
                        
                        <div class="card__container row bg-red-700">
                            <!-- <div class="card__image"></div> -->
                            <div class="u-text-center">
                                <h5 class="title">Hot Shots Recommend</h5>
                            </div>
                        </div>
                        <div class="content row bg-white">
                            <p>Text and other content belong here, inside a <code>content</code> div.</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="u-round-md bg-red-700 u-absolute" style="bottom: 525px; top: 115px; left: 400px; right: 400px;">
                    <p class="px-2 py-4">Absolute Child</p>
                </div>
                <div class="u-round-md bg-red-700 u-absolute" style="bottom: 390px; top: 250px; left: 400px; right: 400px;">
                    <p class="px-2">Absolute Child</p>
                </div>
                <div class="u-round-md bg-red-700 u-absolute" style="bottom: 260px; top: 380px; left: 400px; right: 400px;">
                    <p class="px-2">Absolute Child</p>
                </div>
                <div class="u-round-md bg-red-700 u-absolute" style="bottom: 130px; top: 515px; left: 400px; right: 400px;">
                    <p class="px-2">Absolute Child</p>
                </div> -->
            </section>
            <div class="hero-body">

                <!-- card section 1 -->
                <div class="u-absolute u-left-0">
                    <div class="card content bg-red-700" style="max-width: 350px;">
                        
                        <div class="card__container row bg-red-700">
                            <!-- <div class="card__image"></div> -->
                            <div class="u-text-center">
                                <h5 class="title">Favorite Hot Sauces</h5>
                                <p id="added-sauces"></p>
                            </div>
                        </div>
                        <div class="content row bg-white">
                            <p>Text and other content belong here, inside a <code>content</code> div.</p>
                        </div>
                    
                        <!-- <div class="card__footer">
                            <div class="u-text-center"><span>This is additional footer text in <code>card__footer</code>.</span></div>
                            </div> -->
                    </div>
                </div>
            </div>
            <!-- End card section 2 -->
        </div>
    </div>
    <!-- End hero section -->
</body>

</html>