<!-- login form -->
    <div
      class="card u-center-alt u-absolute bg-red-700 text-warning"
      style="width: 600px; height: 450px"
    >
      <div class="card__header u-center bg-red-700 text-warning">
        <p class="font-bold px-3">Login</p>
      </div>
      <div class="content bg-red-700 text-warning">
        <div class="form-group p-4">
          <input
            type="string"
            class="form-group-input"
            placeholder="Username"
          />
        </div>
        <div class="form-group p-4 bg-red-700 text-warning">
          <input
            type="string"
            class="form-group-input"
            placeholder="Password"
          />
        </div>
        <div class="u-center">
            <a href="/signup" class="text-black text-bold">First time here? Become a Hot Shot!</a>
        </div>
      <div class="u-center bg-red-700 text-warning p-4">
        <button class="btn-link outline bg-black text-warning">Submit</button>
      </div>
    </div>
    <img src="http://res.cloudinary.com/dwjycofwm/image/upload/v1666742663/test/killer_nmgdbi.png">
  </body>
</html>
