<!-- sign up form -->
    <div
      class="card u-center-alt u-absolute bg-red-700 text-warning u-overflow-auto"
      style="width: 600px; height: 450px"
    >
      <div class="card__header u-center bg-red-700 text-warning">
        <p class="font-bold px-3">Sign Up</p>
      </div>
      <div class="u-center">
        <a href="" class="text-black text-bold"> Already a Hot Shot? Click here to log in.</a>
    </div>
      <div class="content bg-red-700 text-warning">
        <div class="form-group p-2 bg-red-700 text-warning u-center">
          <p class="u-text-ellipsis">Please enter your first name.</p>
          <input type="name" class="form-group-input" placeholder="Name" />
        </div>
      </div>
      <div class="content bg-red-700 text-warning">
        <div class="form-group p-2 bg-red-700 text-warning u-center">
          <p class="u-text-ellipsis">Please enter your E-mail.</p>
          <input type="email" class="form-group-input" placeholder="E-mail" />
        </div>
      </div>
      <div class="content bg-red-700 text-warning">
        <div class="form-group p-2 bg-red-700 text-warning u-center">
          <p class="u-text-ellipsis">Please enter your desired username.</p>
          <input
            type="string"
            class="form-group-input"
            placeholder="Username"
          />
        </div>
      </div>
      <div class="content bg-red-700 text-warning">
        <div class="form-group p-2 bg-red-700 text-warning u-center">
          <p class="u-text-ellipsis">
            Please enter your password (must be at least 4 characters long).
          </p>
          <input
            type="password"
            class="form-group-input"
            placeholder="Password"
          />
        </div>
      </div>
      <div class="u-center bg-red-700 text-warning p-4">
        <button class="btn-link outline bg-black text-warning">Submit</button>
      </div>
    </div>
  </body>
</html>
